<nav>
    <div class="nav-wrapper">
        <% if (typeof isUserRegistered !== 'undefined' && isUserRegistered) { %>
            <a href="/user/admin" class="brand-logo">Admin</a>
        <% } %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if (typeof isUserRegistered !== 'undefined' && isUserRegistered && typeof userProfileView !== 'undefined' && typeof username !== 'undefined') { %>
                <li><a href="<%= userProfileView %>"><%= username %></a></li>
            <% } else { %>
                <li><a href="/user/signup">Sign Up</a></li>
            <% } %>
            <li><a href="/cat">Cats</a></li>
            <li><a href="/dog">Dogs</a></li>
        </ul>
    </div>
</nav>